<center>
  <h1>Here is your regimen</h1>
  <h2><%= @regimen.practice.name %></h2>
  <% if @regimen.practice.category == "Body" || @regimen.practice.category == "Service"%>
    <h4> Browse <%= "#{@regimen.practice.name}" %> resources and find an activity to do this week </h4>
  <% end %>
  <h2><%= display_time(@regimen) %></h2>
  <h3><%= link_to "Edit", edit_regime_path(@regimen) %></h3>

  <% # form_for @regimen do |f| %>
    <%#= button_tag 'Complete', class: "done-form" %>
  <% #end %>
  <form method="post" action="/regimes/<%=@regimen.id%>" class="done-form">
    <button>Complete</button>
  </form>
</center>
