<div class="show-regime">
<center>
  <h1><%= @regimen.practice.name %></h1>
  <% if @regimen.practice.category == "Body" || @regimen.practice.category == "Service"%>
    <h4> Browse <%= "#{@regimen.practice.name}" %> resources and find an activity to do this week.<br><br>Incorporate your activity once or twice each week. </h4>
  <% end %>
  <h2><%= display_time(@regimen) %></h2>
  <h3><%= link_to "Edit", edit_regime_path(@regimen) %></h3>

  <%= form_for @regimen do |f| %>
    <%=f.submit "Complete", class:"btn btn-primary col-md-2 col-md-offset-5" %>
  <% end %>

</center>
</div>
