<h1>Here is your regime</h1>

<h2><%= @regime.user.username %></h2>
<h2><%= @regime.practice.name %></h2>
<h2><%= @regime.practice.description %></h2>
<h2><%= display_time(@regime) %></h2>
<%= link_to "Edit", edit_regime_path(@regime) %>

