<div id="pageshift">

	<h1 class="all-users-header">Sangha</h1>
	<%= will_paginate %>
	<ul class="regular-list">
		<% @users.each do |user| %>
		  <li class="each-user">
			  <div class="user-box">
		  		<div id="profile-image">
		  			<%= gravatar_for user %>
		  		</div>
			  	<div id="circle-user-info">
				    <%= user.first_name %> <%= user.last_name %><br>
				    <%= link_to user.username, user_path(user) %><br>
				    
				    <% if @current_user.admin? && !current_user?(user) %>
	    				<%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	  				<% end %>
			    </div>
			  </div>
		  </li>
		<% end %>
	</ul>
	<%= will_paginate %>

</div>
