<div id="pageshift">
	<center>
	<h1 class="all-users-header">Sangha</h1>
	
	<ul class="regular-list">
		<% @users.each do |user| %>
		  <li class="each-user">
			  <div class="user-box">
		  		<div id="profile-image">
		  			<%= gravatar_for user %>
		  		</div>
			  	<div id="circle-user-info">

				    <%= user.first_name %> <%= user.last_name %><br>
				    <%= link_to user.username, user_path(user) %><br>
				    
				    <% if @current_user.admin? && !current_user?(user) %>
	    				<%= link_to user, method: :delete, data: { confirm: "You sure?" } do %>
	                                  <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
	                                  <% end %>
	  				<% end %>
	  				
	  				<% if @current_user == user %>
	  				
			          <%= link_to edit_user_path(user) do %>
			          	<i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
			          <% end %>
			        <% end %>
			    </div>

			  </div>
		  </li>
		<% end %>
	</ul>
	</center>
	<center>
	<%= will_paginate %>
	</center>
</div>
