<div id="pageshift">
  <% provide(:title, @user.username) %>
<div class="container-fluid col-md-4" >
        <div  id="user-avatar">
          <%= gravatar_for @user %>
          <div id="profile-header">
            <h2><%= @user.username %>'s Page</h2> 
          </div>
        </div>
      <br>
<div class="users-info">

    <div id="main-info">
        <p>
          <% if @current_user == @user %>
            <%= link_to "Edit Information", edit_user_path(@user) %>
          <% end %>
        </p>
        <!-- <p>
        First Name:
        <%= @user.first_name %>
        </p>
        <p>
        Last Name:
        <%= @user.last_name %>
        </p> -->
        <p>
        <a href="mailto:<%= @user.email %>?Subject=Hello%20friend">message me</a>
        </p>
        <!-- <p>
        Gender:
        <%= @user.gender %>
        </p>
        <p>
        Age:
        <%= @user.age %>
        </p> -->
        <div id="about-me">
          <p>
          About me:<br>
          <%= @user.about_me %>
          </p>
        </div>
    </div>
    
</div>
</div>

 <div class='container-fluid col-md-8' id='regimen-card'>
      <h3>Your Practice is</h3><br>
        <% if @user.practice != nil %>
        <%= render 'regimes/show' %><br>
  </div> 
  <div class="sub-info container-fluid">
    <div class= 'col-md-8' id="regimen-info">   
          <% if @completed_regimens %>
            <p> You have completed <%= @completed_regimens.length %> regimens. </p> 
              <% @completed_regimens.each do |regimen| %>
                  <div id="single-regimen">
                    <center>
                      <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    </center>
                  </div>
              <% end %>
           <% end %>
      <% end %>
  </div>

  <div class="container-fluid col-md-8" id="bookmarked-sources">
      <h3>Bookmarked Resources</h3>
      <% if @user.bookmarks %>
        <% @user.bookmarks.each do |bookmark| %>
        <p><%= link_to bookmark.resource.name, bookmark.resource.url %></p>
      <% end %>
    <% end %>
  </div>

  </div>

