<% provide(:title, @user.username) %>

      <div id="user-avatar">
        <%= gravatar_for @user %>
        <div id="profile-header">
          <h2><%= @user.username %>'s Profile Page</h2>
        </div>
      </div>
    <br>

<div class="users-info">

  <div id="main-info">
      <p>
      First Name: 
      <%= @user.first_name %>
      </p>
      <p>
      Last Name: 
      <%= @user.last_name %>
      </p>
      <p>
      Email: 
      <a href="mailto:<%= @user.email %>?Subject=Hello%20friend"><%= @user.email%></a>
      </p>
      <p>
      Gender:
      <%= @user.gender %>
      </p>
      <p>
      Age:
      <%= @user.age %>
      </p>
      <p>
      <% if @current_user == @user %>
        <%= link_to "Edit Information", edit_user_path(@user) %>
      <% end %>
      </p>
  </div>

  <div id="about-me">
    <p>
    About me:<br>
    <%= @user.about_me %>
    </p>
  </div>
  
</div>

<div class="sub-info">
  <div id="regimen-info">
    <h3>Regimen Info</h3>
  </div>

  <div id="bookmarked-sources">
    <h3>Bookmarked Resources</h3>
  </div>
</div>


<br><br>