<h2> Body Practices </h2>
<%= will_paginate @body_practices %>
    <% @body_practices.each do |body_practice| %>
        <p><%=link_to body_practice.name, practice_path(body_practice) %></p>
        <p><%= body_practice.description %></p>
        <p><%= body_practice.method %></p>
        <% if current_user %>
          <% if current_user.regimes.length == 0 %>
            <button>
              <%= link_to "Create A Regiment", new_regime_path(practice_id: body_practice.id) %>
            </button>
          <% end %>
        <% end %>
        <br></br>
    <% end %>
