<!DOCTYPE html>
<html>
  <head>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  </head>

  

  <body>
    <div id="fullpage">
      <div class="section" id="homepage" data-menuanchor="firstPage">
        <div class='container'>
          <h1> The Still Life </h1>
          <h5>Here at The Still Life strive to simplify....</h5>
        </div>
      </div>

    <!-- This will be the slide section for the CHANTS PRACTICE -->

      <div class="section" id='chants' data-menuanchor="secondPage">

        <% @chants.each do |chant| %>
          <div class="slide">
            <div class='container'>
            <h1 style="text-decoration: underline"> Chants </h1><br><br>  
            <h2><%= link_to chant.name, practice_path(chant) %></h2>
            <h4>Method: <%= chant.method %></h4>
            <br>
            <h5><%= chant.description %></h5>
            <br>
            <% if current_user %>
              <% if current_user.regimes.length == 0 %>
                <button>
                  <%= link_to "Create A Regiment", new_regime_path(practice_id: chant.id) %>
                </button>
              <% end %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- This will be the slide section for the BODY PRACTICES -->

      <div class="section" id='body_practices' data-menuanchor="thirdPage">

        <% @body_practices.each do |body_practice| %>
          <div class="slide">
            <div class='container'>
            <h1 style="text-decoration: underline"> Body Practices </h1><br><br>
            <h2><%=link_to body_practice.name, practice_path(body_practice) %></h2>
            <h4>Method: <%= body_practice.method %></h4>
            <br>
            <h5>- <%= body_practice.description %></h5>
            <br>
            <% if current_user %>
              <% if current_user.regimes.length == 0 %>
                <button>
                  <%= link_to "Create A Regiment", new_regime_path(practice_id: body_practice.id) %>
                </button>
              <% end %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- This will be the slide section for the SEATED PRACTICES -->

      <div class="section" id='seated_practices' data-menuanchor="fourthPage">

        <% @seated_practices.each do |seated_practice| %>
          <div class='slide' id="#practices-three">
            <div class='container'>
            <h1 style="text-decoration: underline"> Seated Practices </h1><br><br>
            <h2><%= link_to seated_practice.name, practice_path(seated_practice) %></h2>
            <h4>Method: <%= seated_practice.method %></h4>
            <br>
            <h5>- <%= seated_practice.description %></h5>
            <br>
            <% if current_user %>
              <% if current_user.regimes.length == 0 %>
                <button>
                  <%= link_to "Create A Regiment", new_regime_path(practice_id: seated_practice.id) %>
                </button>
              <% end %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- This will be the slide section for the SERVICES PRACTICE -->

      <div class="section" id='services' data-menuanchor="fifthPage">

       <% @services.each do |service| %>

          <div class='slide' id="#practices-four">
            <div class='container'>
            <h1 style="text-decoration: underline"> Services </h1><br><br>
            <h2><%= link_to service.name, practice_path(service)%></h2>
            <h4>Method: <%= service.method %></h4>
            <br>
            <h5>- <%= service.description %></h5>
            <br>
            <% if current_user %>
              <% if current_user.regimes.length == 0 %>
                <button>
                  <%= link_to "Create A Regiment", new_regime_path(practice_id: service.id) %>
                </button>
              <% end %>
            <% end %>
            <br>
            </div>
          </div>
        <% end %>
      </div>

      <div class="section" id="guidelines" data-menuanchor="sixthPage">
        <div class="container">
          <br>
          <h1 style="text-decoration: underline"> Guidelines for Meditation</h1><br>
          <p>The benefits of a consistent meditation practice are very well documented elsewhere. What we aim to do here is to help make your personal practice a successful one. Consistency is key! Here are some ways to build a consistent practice.</p>
          <h5>Choose a practice that is good for you</h5>
          <p>Pick something that seems pleasant fro you to do, as opposed to a chore. Something you might even look forward to.</p>
          <h5>Set aside the time</h5>
          <p>Make a small commitment at first, but one you can do every day or the same day each week. Ideally, your commitment would be for the same time. It is simpler and easier to remember.</p>
          <h5>Don’t do too much!</h5>
          <p>Making too large a time commitment can get in the way of establishing a routine. Don’t underestimate the power of practicing 5 minutes every day, or going to a strong class once per week.</p>
          <h5>Love your practice</h5>
          <p>Your practice should give you an internal smile. While there can be times that this is not the case, in general we should be growing a love of the practice itself.</p>
          <h5>Your practice is yours</h5>
          <p>It is tempting to compare ourselves to others or feel like we “should” be doing this or that. Try to trust that you have picked the best practice for yourself, and let that practice take care of itself. No need to worry!</p>
          <h5>Keep your life as it is</h5>
          <p>There is no need to quit your job, leave your partner, move to a cave in the mountains. Often, these are the very things that propel our practice forward, and in time we learn to make practices out of everything in our lives. But at first: just add a simple, sweet practice and let everything else be.</p>
          <h3 style="text-decoration: underline">DURING PRACTICE</h3>
          <h5>Return to your focus</h5>
          <p>Whatever you choose to practice, you will find your mind wanders. This is 100% ok! That’s what the mind does! It wanders. The only thing you do is notice, and bring it lovingly back to your practice. Like lovingly redirecting a child back to their favorite toy.</p>
          <h5>Trust yourself</h5>
          <p>If you just can’t get calm or focused on a certain day, this is ok. There may be something that needs to be let go, or you may just need to stretch and try again. There are some tips for handling this in the lifestyle section.</p>
        </div>
      </div>

      <div class="section" id="lifestyle" data-menuanchor="seventhPage">
        <div class="container">
          <h1 style="text-decoration: underline"> This will be the Lifestyle page</h1>
        </div>
      </div>

      <div class="section" id="resources" data-menuanchor="eighthPage">
        <div class="container">
          <h1 style="text-decoration: underline"> This will be the further study page</h1>
        </div>
      </div>

      <div class="section" id="getting-started" data-menuanchor="ninthPage">
        <div class="container">
          <h1 style="text-decoration: underline"> Getting Started </h1>
        </div>
      </div>

    </div>
  </body>
</html>



