<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<div id="fullpage">
  <div class="section" id="homepage" data-menuanchor="firstPage">
    <div class='container'>
      <h1> The Still Life </h1>
      <p>Here at The Still Life strive to simplify....</p>
    </div>
  </div>

  <div class="section" id='practices' data-menuanchor="secondPage">
    <div class="slide" id="#practices-one">
      <div class='container'>
        <%= render 'chants' %>
      </div>
    </div>

    <div class="slide" id="#practices-two">
      <div class='container'>
        <%= render 'body_practices' %>
      </div>
    </div>

    <div class='slide' id="#practices-three">
      <div class='container'>
        <%= render 'seated_practices' %>
      </div>
    </div>

    <div class='slide' id="#practices-four">
      <div class='container'>
        <%= render 'services' %>
      </div>
    </div>
  </div>

  <div class="section" id="guidelines" data-menuanchor="thirdPage">
    <div class="container">
      <h1> This will be the Guidelines page</h1>
    </div>
  </div>

  <div class="section" id="lifestyle" data-menuanchor="fourthPage">
    <div class="container">
      <h1> This will be the Lifestyle page</h1>
    </div>
  </div>

  <div class="section" id="resources" data-menuanchor="fifthPage">
    <div class="container">
      <h1> This will be the further study page</h1>
    </div>
  </div>

  <div class="section" id="about" data-menuanchor="sixthPage">
    <div class="container">
      <h1> This will be the about page </h1>
    </div>
  </div>
</div>

</body>
</html>



