<div id="pageshift">
	<center>
    <div class="practice-style">
	    <h1 class="whitefont"><%= @practice.name %></h1><br>
      <div class="single-practice whitefont">
    	  Description:<p><%= @practice.description %></p><br>
    	  Method: <p><%= @practice.method %></p><br>
  	  </div>
      <% if @practice.category == "Chant" %>
        <audio controls="controls">
          <source src= <%= @chant_recording.url %> type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
      <% end %>

      <br><br>

      <h4 class="whitefont">Resources</h4>

      <br>

      <div class="practice-resources">
      <% @practice.resources.each do |resource| %>
        <h5 class="whitefont"><%= resource.name %> | <%= resource.description %> | <%= resource.category %></h5>
				<% if @current_user %>

					<% if @current_user.bookmarks.where(resource: @resources.find_by(name: resource.name ) ).length == 0 %>

							<div class ='bookmark-form' id="resource-<%=resource.id %>">
								<%= form_for @bookmark, :class => "form-heart" do |f|%>
									<%= f.button :submit, class: "submit-with-icon" do %>
										<i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
									<% end %>
								<%= hidden_field_tag 'resource_id', resource.id %>
								<% end %>
							</div>

					<% else %>

						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>

					<% end %>

				<% end %>

				<% end %>
    </div>
  </center>
</div>
