<div id="pageshift">
	<center>
	  <h1 class="whitefont"><%= @practice.name %></h1><br>
    <div class="single-practice whitefont">
  	  Description:<p><%= @practice.description %></p><br>
  	  Method: <p><%= @practice.method %></p><br>
	 </div>
   <% if @practice.category == "Chant" %>
     <audio controls="controls">
       <source src= <%= @chant_recording.url %> type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    <% end %>
    <br><br>
    <h4 class="whitefont">Resources</h4>
    <br>
    <div class="practice-resources">
      <% @practice.resources.each do |resource| %>
        <h5 class="whitefont"><%= resource.name %> | <%= resource.description %> | <%= resource.category %>

        <% if @current_user %>

          <% if @current_user.bookmarks.where(resource_id: resource.id).length == 0 %> 

            <%= form_for @bookmarks do |f|%>
              <%= button_tag(type: 'submit') do %>
               <span class=" glyphicon glyphicon-heart-empty"></span>
              <% end %>
              <%= hidden_field_tag 'resource_id', resource.id %>
              <% end %>
          <% else %>
            <%= link_to bookmark_path(@current_user.bookmarks.find_by(resource_id: resource.id)), method: :delete, data: { confirm: "You sure?" } do %>
              <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
            <% end %>

          <% end %>

        <% end %>

      <% end %>
      </h5>
    </div>
  </center>
</div>

