<div id="pageshift">
	<center>
	  <h1 class="whitefont"><%= @practice.name %></h1><br>
    <div class="single-practice whitefont">
  	  Description:<p><%= @practice.description %></p><br>
  	  Method: <p><%= @practice.method %></p><br>
	 </div>
   <% if @practice.category == "Chant" %>
     <audio controls="controls">
       <source src= <%= @chant_recording.url %> type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    <% end %>
    <button>
    </button>
  </center>
  <div class="practice-resources">
    <ul>
      <% @resources.each do |resource| %>
        <li><%= resource.name %></li>
      <% end %>
    </ul>
  </div>
</div>
