<h2> Recordings </h2>
    <% @resources.recordings.each do |recording| %>
        <h3> <%= link_to recording.name, practice_path(recording.practice) %> </h3>
        <audio controls="controls">
          <source src= <%= recording.url %> type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <p><%= recording.description %></p>
        <div class='bookmarks-form'>
          <%= form_for @bookmarks do |f| %>
            <%= f.submit "Bookmark", class: "btn btn-primary bookmark-res" %>
            <%= hidden_field_tag 'resource_id', recording.id %>
          <% end %>
        </div><br><br>
    <% end %>
