<h2> Images </h2>
    <% @resources.images.each do |image| %>
        <p><%= image.name %></p>
        <p><%= image.category %></p>
        <p><%= image.description %></p>
        <p><%= image.url %></p>
        <div class='bookmark-form'>
          <%= form_for @bookmark do |f| %>
            <%= f.submit "Bookmark", class: "btn btn-primary" %>
            <%= hidden_field_tag 'resource_id', image.id %>
          <% end %>
        </div>
        <br></br>
    <% end %>
