<h2> Videos </h2>
    <% @resources.videos.each do |video| %>
        <p><%= video.name %></p>
        <p><%= video.category %></p>
        <p><%= video.description %></p>
        <p><%= video.url %></p>
        <div class='bookmarks-form'>
          <%= form_for @bookmarks do |f| %>
            <%= f.submit "Bookmark", class: "btn btn-primary" %>
            <%= hidden_field_tag 'resource_id', reading.id %>
          <% end %>
        </div>
        <br></br>
    <% end %>
