<!DOCTYPE html>
<html>
<head>
  <title>TheStillLife</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

	<header id="header" class="clearfix fixed">
    <nav id="menu">
      
        <% if @current_user %>
        <a href="/#firstPage" class="name" id="mainpage">The Still Life</a>
        <% else %>
        <a href="/#firstPage" class="name" id="alt-mainpage">The Still Life</a>
        <% end %>
        <div class="dropdown">
          <a href="#" class="name dropdown-toggle" data-toggle="dropdown">Practices</a>
          <ul class="dropdown-menu">
            <li><a href="/#secondPage" class="dropdown-link">Chant</a></li>
              
            <!-- <a href="/#secondPage" class="name">Om</a> -->

            <!-- <a href="/#secondPage/1" class="name">Shema Yisrael! Yhwh Eloheinu, Yhwh Echad</a> -->

            <!-- <a href="/#secondPage/2" class="name">La Illaha Illallah</a> -->

            <!-- <a href="/#secondPage/3" class="name">Om Namah Shiv'aya</a> -->

            <!-- <a href="/#secondPage/4" class="name">Om Mani Padme Hum</a> -->

            <!-- <a href="/#secondPage/5" class="name">Sanctus, Sanctus, Sanctus, Dominus Deus Sabaoth</a> -->

            <!-- <a href="/#secondPage/6" class="name">Gate, Gate, Para Gate, Parasamgate, Bodhi Svaha</a> -->
                           
            <li><a href="/#thirdPage" class="dropdown-link">Body Practice</a></li>
             
            <!-- <a href="/#thirdPage" class="name">Yoga Asana - Studio</a>
       -->
            <!-- <a href="/#thirdPage/1" class="name">Yoga Asana - Self Study</a> -->

            <!-- <a href="/#thirdPage/2" class="name">QiGong - Studio</a> -->

            <!-- <a href="/#thirdPage/3" class="name">QiGong - Self Study</a> -->

            <!-- <a href="/#thirdPage/4" class="name">Traditional Aerobic Exercise</a> -->
          
            <li><a href="/#fourthPage" class="dropdown-link">Seated Practice</a></li>
              
            <!-- <a href="/#fourthPage" class="name">Stillness/Source</a> -->

            <!-- <a href="/#fourthPage/1" class="name">Breath Control</a> -->

            <!-- <a href="/#fourthPage/2" class="name">Devotional Visualization</a> -->

            <!-- <a href="/#fourthPage/3" class="name">Abstract Visualization</a> -->

            <!-- <a href="/#fourthPage/4" class="name">Abstract Visualization 2</a> -->

            <!-- <a href="/#fourthPage/5" class="name">Silent Chanting</a> -->

            <!-- <a href="/#fourthPage/6" class="name">Guided Audio</a> -->

            <li><a href="/#fifthPage" class="dropdown-link">Service</a></li>
            
            <!-- <a href="/#fifthPage" class="name">Food</a> -->

            <!-- <a href="/#fifthPage/1" class="name">Companionship</a> -->

            <!-- <a href="/#fifthPage/2" class="name">Assistance</a> -->

            <!-- <a href="/#fifthPage/3" class="name">Environmental Care</a> -->

            <!-- <a href="/#fifthPage/4" class="name">Animals</a> -->

            <!-- <a href="/#fifthPage/5" class="name">Golden Rule</a> -->
          </ul>
        </div>

        <!-- ///////////////////////////////////////////////////// -->

        <a href="/#sixthPage" class="name">Guidelines</a>

        <!-- <a href="/#sixthPage" class="name">Guidelines</a> -->

        <!-- <a href="/#sixthPage/1" class="name">During Practice</a> -->

        <!-- <a href="/#sixthPage/2" class="name">Tips</a> -->

        <a href="/#seventhPage" class="name">Lifestyle</a>

        <!-- <a href="/#seventhPage" class="name">Lifestyle</a> -->

        <!-- <a href="/#seventhPage/1" class="name">Lifestyle (cont.)</a> -->

        <a href="/#eighthPage" class="name">Resources</a>

        <a href="/#ninthPage" class="name">Getting Started</a>

        <% if @current_user %>
          <%= link_to "Sangha", users_path, :class => "name" %>
          <% if current_user.regimes.length > 0 %>
            <%= link_to "Current Regimen", regime_path(@current_user.regimes.last), :class => "name" %>
          <% end %>
          <%= link_to @current_user.username, user_path(@current_user), :class => "name" %>
          <%= link_to "Logout", '/logout', method: :delete, :class => "name" %>
        <% else %>
          <%= link_to "Login", '/login', :class => "name" %>
          <%= link_to "Register", new_user_path, :class => "name" %>
        <% end %>
      
    </nav>
  </header>
 
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  
</body>
</html>
