<!DOCTYPE html>
<html>
<head>
  <title>TheStillLife</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>
  </style>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        sectionsColor: ['#1bbc9b', '#4BBFC3', '#4BBFC3', '#4BBFC3', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff', '#1bbc9b'],
         anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage', 'sixthPage'],
        menu: '#menu',
        lockAnchors: false,
        navigation: false,
        navigationPosition: 'right',
        navigationTooltips: ['firstSlide', 'secondSlide'],
        showActiveTooltip: false,
        slidesNavigation: true,
        slidesNavPosition: 'bottom',

        //Scrolling
        css3: true,
        scrollingSpeed: 1000,
        autoScrolling: true,
        fitToSection: true,
        fitToSectionDelay: 1000,
        scrollBar: false,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: true,
        continuousVertical: false,

        scrollOverflow: false,
        scrollOverflowOptions: null,
        touchSensitivity: 15,
        normalScrollElementTouchThreshold: 5,
        bigSectionsDestination: null,

        //Accessibility
        keyboardScrolling: true,
        animateAnchor: true,
        recordHistory: true,

        //Design
        controlArrows: true,
        verticalCentered: true,
        
        // paddingTop: '3em',
        // paddingBottom: '10px',
        
        responsiveWidth: 0,
        responsiveHeight: 0,

        //Custom selectors
        sectionSelector: '.section',
        slideSelector: '.slide',

        //events
        onLeave: function(index, nextIndex, direction){},
        afterLoad: function(anchorLink, index){},
        afterRender: function(){},
        afterResize: function(){},
        afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
        onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}

      });
    });
  </script>
</head>

<body>

	<div id="header" class="clearfix">
    <nav id="menu">
      <div data-menuanchor="firstPage"><a href="/#firstPage" class="name" id="mainpage">The Still Life</a></div>

      <div data-menuanchor="secondPage-one"><a href="/#secondPage" class="name">Chants</a></div>

      <div data-menuanchor="secondPage-two"><a href="/#secondPage/1" class="name">Body Practices</a></div>

      <div data-menuanchor="secondPage-three"><a href="/#secondPage/2" class="name">Seated Practices</a></div>

      <div data-menuanchor="secondPage-four"><a href="/#secondPage/3" class="name">Service</a></div>

      <div data-menuanchor="thirdPage"><a href="/#thirdPage" class="name">Guidelines</a></div>

      <div data-menuanchor="fourthPage"><a href="/#fourthPage" class="name">Lifestyle</a></div>

      <div data-menuanchor="fifthPage"><a href="/#fifthPage" class="name">Resources</a></div>

      <div data-menuanchor="sixthPage"><a href="/#sixthPage" class="name">About</a></div>

      <% if @current_user %>
        <%= link_to "Sangha", users_path, :class => "name" %>
        <% if current_user.regimes.length > 0 %>
          <%= link_to "Current Regimen", regime_path(@current_user.regimes.last), :class => "name" %>
        <% end %>
        <%= link_to @current_user.username, user_path(@current_user), :class => "name" %>
        <%= link_to "Logout", '/logout', method: :delete, :class => "name" %>
      <% else %>
        <%= link_to "Login", '/login', :class => "name" %>
        <%= link_to "Register", new_user_path, :class => "name" %>
      <% end %>
    </nav>
  </div>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>

</body>
</html>
