<!DOCTYPE html>
<html>
<head>
  <title>TheStillLife</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
      <%= link_to "The Still Life", root_path, :class => "name"%>
    <nav>
      <a href="/practices#index.chants-container" class="name">Chants</a>
      <a href="/practices#index.body-practices-container" class="name">Body Practices</a>
      <a href="/practices#index.seated-practices-container" class="name">Seated Practices</a>
      <a href="/practices#index.service-container" class="name">Service</a>
      <% if @current_user %>
        <%= link_to "Sangha", users_path, :class => "name" %>
        <%= link_to @current_user.username, user_path(@current_user), :class => "name" %>
        <%= link_to "Logout", '/logout', method: :delete, :class => "name" %>
      <% else %>
        <%= link_to "Login", '/login', :class => "name" %>
        <%= link_to "Register", new_user_path, :class => "name" %>
      <% end %>
    </nav>
  </header>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>

</body>
</html>
